/* =============== 
   HTML tag styles
   --------------- */
h3 {
	margin: 40px 0 0;
}
ul {
      list-style-type: none;
      padding: 0;
}
li {
      display: inline-block;
      margin: 0 10px;
}
a:link, a:visited {
      color: #1b2870;
      text-decoration: none;
}
a:hover {
      color: #1b2870;
      text-decoration: underline;
}

/* ==========
   ID styling
   ---------- */
#turtle_text {
      text-align: left;
      background: aliceblue;
}
#turtle_preamble {
      background: rgb(241, 240, 255);
}
#infoTypeSelection {
      text-align: left;
}
#turtle_snippet {
      text-align: left;
      background: aliceblue;
}
#turtle_prefixes {
}


/* =============
   Class styling
   ------------- */
.input_heading {
      text-align: right;
}
.input_input {
      text-align: left;
}
.button_slim {
      font-size: 8pt;
}
.code {
      background-color:linen;
      font-size: 8pt;
      text-align: left;
      font-family: 'Courier New', Courier, monospace;
}
.small_text {
      font-size: 8pt;
}
.left_align {
      text-align: left;
}
